body{
    margin:0px;
    padding:0px;
}

.spectrum_main{
    font-family: Adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: flex;
    flex-direction: row;
}

.spectrum_left{
    left: 0;
    position: fixed;
    margin-right: auto;
    padding-left: 24px;
    padding-top: 30px;
    width: 17.3%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f8f8
}

.spectrum_left--contents{
    margin-top: 20px;
}
ul {
    margin-top: 17px;
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: #f1f1f100;
  }
  li{
    font-family: Adobe Clean;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  li a {
    display: block;
    color: #000000;
    padding: 1px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #e2e2e2;
  }

  .spectrum_left--down{
    margin-top: 20px;
  }
.spectrum_left--sublist{
    font-weight: normal;
}

.spectrum_logo{
    width: 68%
}

.search_box{
    margin-top: 30px;
    height: 25px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.search_box--content {
    height:27px;
    width:200px;
    border-width: 1.5px;
    border-radius: 3.8px;
    border-style: ridge;
    border-color: rgb(197, 197, 197);
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center
  }

input:focus { 
    outline: none !important;
    border-color: #719ECE;
 }

input::-webkit-input-placeholder {
    font-family: Adobe Clean;
    font-style: italic;
}
input:focus::-webkit-input-placeholder {
    font-style: italic;
    color: rgb(0, 0, 0);
} 
.spectrum_left--contents{
    font-size: 17px;
    font-weight: normal;
    line-height: 35px;
}
.spectrum_right{
    display:block;
    margin-top: 13px;
    padding-left: 23.5%;
    width:75%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.spectrum_right--heading{
    padding-left: 5px;
    font-size: 58px;
    font-family: Adobe Clean Serif;
    font-weight: 900;
}

.spectrum_right--para{
    margin-top: -30px;
    width:70%;
    font-size: 18px;
    font-family: Adobe Clean;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.5;
    text-transform: none;
}
.blue_img{
    border-radius: 5px;
    margin-top: 39px;
}

.bold_head{
    font-family: Adobe Clean;
}
.spectrum_right--bottom{
    padding-top: 20px;
    display: block;
    float:left;
    width: 30%;
    padding-right: 25px;
    padding-bottom: 90px;
}

.bottom_contents{
    display:block;
    color:#00578a;
    font-family: Adobe Clean 5pt;
}

.bottom{
    color: #00578a;
    text-align: end;
    margin-right: 40px;
}

hr{
    color:  grey;
    margin-right: 40px;
}
.spectrum_footer{
    margin-right: 40px;
    font-size: 12px;
    color: rgb(70, 70, 70);
    text-align: end;
    padding-bottom: 20px;
    padding-top: 10px;
}