body{
    margin:0;
    padding: 0;
}

.main_container{
    background-color: rgb(146, 146, 146);
}

.header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width:100%;
    margin-bottom: -100px;
    position:relative;
    z-index: 210;
}

.header_right{
    position: absolute;
    right:35px;
    top:30px;
}

.search{
    position: absolute;
    padding: 7px;
    height: 14px;
    width:14px;
    background-color: #fff;
    border: thin solid rgb(75, 75, 75);
    border-radius: 20px;
    top:33px;
    left:99%;
}

.line{
    position: absolute;
    top:36px;
    left:98.2%;
    height:20px;
    width:5px;

    border-left: thin solid rgb(136, 136, 136);
}
.comics{
    text-decoration: none;
    background-image: url(images/book_icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
    color: black;
    font-family: Noto Sans;
    font-weight: 600;
    font-stretch: expanded;
    padding-left: 25px;
    padding-right:15px;
    border-right: thin solid rgb(138, 138, 138);
}
.publish{
    margin-left: 10px;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 0;
    text-align: center;
    color:white;
    text-decoration: none;
    font-family: Noto Sans;
    font-size: 13px;
    height:25px;
    width:100px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.login{
    display: inline-block;
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 20px;
    text-align: center;
    height:25px;
    width:120px;
    background-image: url(images/user_icon.png);
    background-size: 22px;
    background-position-x: 4px;
    background-position-y: 4px;
    background-repeat: no-repeat;
    color:rgb(148, 148, 148);
    text-decoration: none;
    font-stretch: semi-expanded;
    font-family: Noto Sans;
    font-size: 13px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: thin solid rgb(0, 0, 0);
}

.logo{
    float:left;
    padding-left: 35px;
}

.header_nav{
    position: relative;
    display: flex;
    align-items: center;
}
.header_ul{
    position: absolute;
    list-style-type: none;
    left:120px;
}

.header_ul--li{
    float:left;
    font-size: 20px;
    font-stretch: semi-expanded;
    padding-right: 35px;
    font-family: Hind Colombo;
    font-weight: 500;
}
li a{
    color: black;
 text-decoration: none;
}
li a:hover{
    color: #00dc64;
}
.main_banner_wrap{
 width:100vw;
 margin-top:100px;
 height:490px;
 display:block;
}

.transition{

    margin-left: 50px;
    margin-top:-20px;
    height:490px;
    padding:0;
    background-image: url(images/image1.png);
    background-repeat: no-repeat;
    animation-name: banner;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 6s;
}
@keyframes banner {
    0%{
        background-image: url(images/image1.png);
    }
    8.3%{
        background-image: url(images/image2.png);
    }
    16.6%{
        background-image: url(images/image3.png);
    }
    24.9%{
        background-image: url(images/image4.png);
    }
    33.2%{
        background-image: url(images/image5.png);
    }
    41.5%{
        background-image: url(images/image6.png);
    }
    49.8%{
        background-image: url(images/image7.png);
    }
    58.1%{
        background-image: url(images/image8.png);
    }
    66.4%{
        background-image: url(images/image9.png);
    }
    74.7%{
        background-image: url(images/image10.png);
    }
    83%{
        background-image: url(images/image11.png);
    }
    91.3%{
        background-image: url(images/image12.png);
    }
}

.purple{
    float: right;
    margin-right: 105px;
    margin-top:37px;
}
.green{
    float:right;
    margin-right: -315px;
    margin-top: 230px;
}

.daily_tab {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    font-size: 0;
    height: 60px;
}

.work_main{
    width: 100vw;
    height:255vh;
    background-color: rgb(238, 238, 238);
}
.works_content{
    width: 1200px;
    height:500px;
    padding-left: 140px;
    padding-top: 15px;
    background-color: rgb(238, 238, 238);
    border-bottom: 0.5px ;
    border-bottom: thin solid rgb(216, 216, 216);
}
.work{
    float:left;
    position: relative;
    width:210px;
    height:210px;
    margin: 8px;
    background-color: aliceblue;
}

.work-hover{
    position: absolute;
    bottom:0px;
    width:210px;
    height:210px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.work:hover .work-hover{
    display:block;
    opacity:1;
}
#featured_work{
    position: relative;
    float:left;
    width: 436px;
    height:210 px;
    margin: 8px;
}
.featured_hover{
    position: absolute;
    width: 436px;
    height:210 px;
    top:0;
    bottom:0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#featured_work:hover .featured_hover{
    display:block;
    opacity: 1;
}

.new_webtoon{
    height:24%;
    padding-left: 140px;
    padding-top: 15px;
    background-color: rgb(238, 238, 238);
    border-bottom: 0.5px ;
    border-bottom: thin solid rgb(216, 216, 216);
}
.new_to{
    height:55px;
    padding-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 500;
    margin-left: 440px;
    font-stretch: expanded;

}
.genres{
    height:54%;
    padding-left: 140px;
    padding-top: 15px;
    background-color: rgb(238, 238, 238);
}

.info_genre{
    padding-top: 20px;
    padding-left: 25px;
    float:left;
    margin:8px;
    width: 185px;
    height:190px;
    background-color: aliceblue;
}

strong{
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch:expanded ;
    font-size:  21px;
    font-weight: 500;
    color: #fff;
}
#info{
    font-weight: 50px;
    font-stretch:expanded ;
}
.desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 80px;
    padding-right: 0;
    color: #fff;
}

.subj{
    position: absolute;
    font-family: Noto Sans;
    font-weight: 500;
    font-stretch: semi-expanded;
    font-size: 17px;
    top:0;
    line-height:18px;
    padding-left:18px;
    
}
.hover_subj{
    color: #fff;
    font-family: Noto Sans;
    font-weight: 500;
    font-stretch: semi-expanded;
    font-size: 17px;
    padding-left:18px;
    margin-bottom: 0;
}
.subj_desc{
    position: absolute;
    font-family: Noto Sans;
    font-stretch: semi-expanded;
    color:#fff ;
    font-size: 12px;
    top:30px;
    padding-left:18px;
}
.author{
    margin-top:3px;
    margin-bottom: 0;
    font-family: Noto Sans;
    padding-left:18px;
    color:#fff ;
    font-size: 13px;
    font-stretch: semi-expanded;
}
.hover_desc{
    font-family: Noto Sans;
    font-stretch: semi-expanded;
    color:#fff ;
    font-size: 12px;
    padding-left:18px;
    line-height: 15px;
}
.hover_fdesc{
    font-family: Noto Sans;
    font-stretch: semi-expanded;
    color:#fff ;
    font-size: 12px;
    padding-left:18px;
    line-height: 15px;
}
.likes{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-stretch: semi-expanded;
    font-size: 15px;
    top:25px;
    padding-left:18px;
    color: rgb(0, 201, 60);
}
.genre_down{
    position: absolute;
    font-stretch: semi-expanded;
    font-family: Noto Sans;
    bottom:0;
    padding-left:18px;
}
.hover_hr{
    margin-top: 0;
    color: #fff;
    margin-bottom: 0;
    font-weight: lighter;
    margin-left: 18px;
}

.daily_tab--nav{
    position: relative;
    display: flex;
    align-items: center;
}
.daily_ul{
    position: absolute;
    top:0;
    left: 240px;
    list-style-type: none;
}

.daily_ul--li{
    float:left;
    font-size: 20px;
    font-stretch: semi-expanded;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Hind Colombo;
    font-weight: 500;
}

.daily_more{
    float:left;
    font-size: 16px;
    font-stretch: semi-expanded;
    padding-top:1px;
    margin-top:23px;
    line-height: 14px;
    padding-left: 30px;
    margin-left: 20px;
    padding-right: 40px;
    border-left: 1.5px solid grey;
    font-family: Hind Colombo;
}

.not_selected:hover{
    color: #00dc64;
}

.bottom_list{
    width:100vw;
    background-color: #fff;
    padding-top: 50px;
    height:155vh;
}

.top_5{
    width: 35%;
    display: inline-block;
    margin-right: 90px;
    padding-bottom: 60px;
}
.top_5--ul{
    list-style-type: none;
    padding-left: 0;
}

.top_5--li{
    border-top: 1px solid #eaeaea;
    height: 88px;
    position: relative;
    padding-left: 0;
}

.top_5--a{
    text-decoration: none;
    color: black;
    font-family: Noto Sans;
    font-size: 22px;
    display: inline-block;
}
.top_5--li:hover a{
    color:black
}
.li_icon{
    display: inline-block;
    bottom: 4px;
    height: 80px;
    position: absolute;
    top: 4px;
    left:0;
    width: 80px;
}
.num_area{
    position: absolute;
    top:0;
    left:90px;
    font-size: 18px;
    font-weight: bold;
    font-family: Noto Sans;
    padding-top: 35px;
    display: inline-block;
    width: 18px;
    height:53px;
    background-color: rgb(255, 255, 255);
}
.info_area{
    top:0;
    left:110px;
    position: absolute;
    display: inline-block;
    font-family: Noto sans;
}
.bottom_genre{
    margin-top: 10px;
    color: rgb(158, 158, 158);
}
.info_title{
    line-height: 0;
    font-weight: bold;
    font-stretch: expanded;
}
.bottom_author{
    line-height: 11px;
    font-size: small;
    font-stretch: semi-expanded;
}

#top_genre{
    display: inline-block;
    margin-left: 140px;
    font-family: Noto Sans;
    margin-bottom:0;
    font-stretch: expanded;
    color: rgb(146, 146, 146);
}

.canvas{
    padding-left:110px;
    border-top: 1px solid #eaeaea;
}

.canvas_content{
    width: 22%;
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 60px;
}
.webtoon_canvas{
    font-family: Livvic ;
    font-weight: bolder;
    line-height: 40px;
    color:rgb(0, 207, 62);
    font-size: 45px;
    font-stretch: expanded;
}

.canvas_desc{
    font-family: Noto Sans;
    font-size: 14px;
    width:300px;
    margin-top:0;
}

.find{
    position: absolute;
    width:180px;
    height: 40px;
    margin-top:25px;
    line-height: 6px;
    background-color: rgb(33, 226, 91);
    border-radius: 25px;
    text-align: center;
    font-family: Noto Sans;
    color: #fff;
    font-size: 15px;
}

.canvas_works{
    display: inline-block;
}

.canvas_works--2{
    margin-left: 330px;
    margin-top: -80px;
}

.canvas_work{
    position: relative;
    float: left;
    width:150px;
    height:150px;
    margin: 8px;
    background-color: aliceblue;
}
.film{
    position: absolute;
    width:140px;
    height:150px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.267);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.canvas_work:hover .film{
    opacity:0;
}
.canva_title{
    margin-top:110px;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-expanded;
    font-size: 20px;
    color: #fff;
}

.canva_author{
    font-family: Noto Sans;
    font-size: small;
    color: #fff;
    margin-top: 0;
    line-height: 0px;
}

.footer{
    height: 65vh;
    width: 100vw;
    background-color: rgb(245, 245, 245);
}
.top_div{
    height:50px;
    border-bottom: thin solid rgb(228, 228, 228);
}
.notice{
    padding-left:95px;
    display: inline-block;
    font-family: Hind Colombo;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    font-stretch: semi-expanded;
}

.symbol{
    display: inline-block;
    padding-left:10px;
    line-height: 0px;
    font-family: Hind Colombo;
}
.plushie{
    padding-left:12px;
    display: inline-block;
    font-family: Noto Sans;
    font-stretch: semi-expanded;
}

.date{
    padding-left:15px;
    font-family: Noto Sans;
    color: rgb(163, 163, 163);
    display: inline-block;
}

.mid_div{
    position: relative;
    height:150px;
    border-bottom: thin solid rgb(228, 228, 228);
}

.download{
    position: absolute;
    font-weight: 600;
    left:43%;
    top:20px;
    font-family: Arial, Helvetica, sans-serif;
}

.download_button{
    position: absolute;
    left:39%;
    top:60px;
}
.download_button2{
    position: absolute;
    left:51%;
    top:70px;
}
.app{
    width:25%;
}
.bot_div{
    padding-top: 25px;
    padding-left:590px;
}

.logo{
    width:20px; 
    height:20px; 
    margin-top:3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bot_nav{
    position: absolute;
    left:24%;
    padding-top:20px;
}
.bot_ul{
    list-style-type: none;
}

.bot_li{
    display: inline-block;
    font-size: 14px;
    font-stretch: semi-expanded;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Noto Sans;
    line-height: 15px;
    border-right: thin solid grey;
}

.lang{
    display: inline-block;
    font-family: Noto Sans;
    font-size: 13px;
    color:rgb(139, 139, 139);
    padding-left:25px;
    padding-right:23px;
    margin-left:20px;
    line-height:5px;
    border-radius: 20px;
    border: thin solid grey
}

.att{
    position: absolute;
    margin-top:80px;
    font-family: Noto Sans;
    color:rgb(180, 180, 180);
}
.webtoon_b{
    position: absolute;
    margin-top:120px;
    left:46%;
    width:10%;
}