body{
    margin:0;
    padding: 0;
}

.main_container{
    background-color: white;
}

.header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width:100%;
    margin-bottom: -100px;
    position:relative;
    z-index: 210;
}

.logo{
    float:left;
    padding-left: 20px;
}

.header_nav{
    position: relative;
    display: flex;
    align-items: center;
}
.header_ul{
    list-style-type: none;
    margin-left: -235px;
}

.header_ul--li{
    float:left;
    font-size: 20px;
    font-stretch: semi-expanded;
    padding-right: 33px;
    font-family: Hind Colombo;
    font-weight: 500;
}

li a:hover{
    color: rgb(0, 172, 72);
}
.main_banner_wrap{
 width:100%;
 margin-top:100px;
 height:490px;
 display:block;
}

.transition{

    margin-left: 50px;
    margin-top:-20px;
    height:490px;
    padding:0;
    background-image: url(images/image1.png);
    background-repeat: no-repeat;
    animation-name: banner;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 6s;
}
@keyframes banner {
    0%{
        background-image: url(images/image1.png);
    }
    8.3%{
        background-image: url(images/image2.png);
    }
    16.6%{
        background-image: url(images/image3.png);
    }
    24.9%{
        background-image: url(images/image4.png);
    }
    33.2%{
        background-image: url(images/image5.png);
    }
    41.5%{
        background-image: url(images/image6.png);
    }
    49.8%{
        background-image: url(images/image7.png);
    }
    58.1%{
        background-image: url(images/image8.png);
    }
    66.4%{
        background-image: url(images/image9.png);
    }
    74.7%{
        background-image: url(images/image10.png);
    }
    83%{
        background-image: url(images/image11.png);
    }
    91.3%{
        background-image: url(images/image12.png);
    }
}

.purple{
    float: right;
    margin-right: 105px;
    margin-top:37px;
}
.green{
    float:right;
    margin-right: -315px;
    margin-top: 230px;
}